{% extends 'layout.html' %}

{% block title %}
<title>Yatra | Home Page</title>

{% endblock title %} {% block body %}
<div class="home-page">
    <div class="home-img">
        <img src="../static/images/bus-stop.svg" alt="bus-stop">
    </div>
    <div class="home-content">
        <div class="yatra-service-blocks">
            <div class="yatra-service-block">My Bus</div>
            <div class="yatra-service-block">Buy Ticket</div>
            <div class="yatra-service-block">Setting</div>
            <div class="yatra-service-block">Profile</div>
        </div>
    </div>
</div>
{% endblock body %}
