{% extends 'layout.html' %}

{% block title %}
<title>Yatra | Home Page</title>

{% endblock title %} {% block body %}
<div class="home-page">
    <div class="home-img">
        <img src="../static/images/bus-stop.svg" alt="bus-stop">
    </div>
    <div class="login-content">
        <div class="login-form">
            <h2>
                Sign In
            </h2>
            <form action="" method="post" class="auth-form">
                <div class="user-email-info input-field">
                    <label for="user-email">Email</label>
                    <input type="text" name="user-email" id="user-email" placeholder="johndoe@example.com">
                </div>
                <div class="user-password-info input-field">
                    <label for="user-password">Password</label>
                    <input type="text" name="user-password" id="user-password" placeholder="***********">
                </div>
                <div class="auth-btn-holder">
                    <div class="auth-btn">
                        Sign In
                    </div>
                </div>

            </form>
            <div class="other-option">
                Do not have an account yet? <span class="signup-opt">
                    Sign up
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
